@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}



@layer utilities {
  .btn_white { 
    @apply  border-white bg-white px-8 py-3 text-green-500
  }
    .btn_yellows{
      @apply border-white bg-white px-8 py-3 text-yellow-500
    }

  .btn_white_text  { 
    @apply  border-white bg-white px-8 py-3 text-gray-900
  }
  .btn_green  { 
    @apply   bg-green-500 rounded-xl text-white
  }

  .btn_logout{
    @apply bg-red-500 hover:bg-red-600 text-white font-bold  rounded-xl
  }
  .btn_dark_green { 
    @apply  bg-green-900  text-white transition-all hover:bg-black
  }
  .btn_dark_green_outline  { 
    @apply border-gray-200 bg-green-90 px-8 py-5 text-white
  }
  
  .btn_yellow{
    @apply bg-yellow-50 px-8 py-5 text-white border-yellow-50
  }
  .btn_blue{
    @apply bg-blue-600 rounded-xl text-white
  }
  .btn_red{
    @apply bg-red-400  text-white  rounded-xl
  }
  
  .label_gray{
    @apply text-gray-500 font-sans font-bold
  }

  .input_tag{
    @apply h-12 px-4  rounded-md  text-gray-700 font-bold  border-b-[3px]
     border-gray-400 focus:border-blue-500 placeholder:text-lg placeholder:font-light
  }
}